.topoViewer-body div.mxTooltip {
  filter: none;
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 14px;
  color: #333;
  background: #fff;
  filter: alpha(opacity=80);
  opacity: 0.8;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), inset 13px 6px 27px rgba(255, 255, 255, 0.1);
}
.topo-left {
  width: 400px;
  float: left;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 0 15px 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), inset 13px 6px 27px rgba(255, 255, 255, 0.1);
  color: #0af;
}
.topo-left > .item {
  height: 33.3%;
  position: relative;
  padding-top: 15px;
  overflow: hidden;
}
.topo-left > .item > div {
  background-color: #112455;
  border-radius: 4px;
  height: 100%;
}
.topo-left > .item .panel-title {
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #001245;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 2px;
  box-shadow: #003471 0 1px;
}
.topo-left > .item .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  background-color: #615072;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.topo-left > .item p {
  text-align: center;
  font-size: 16px;
  margin: 15px 0;
}
.topo-left > .item span {
  display: block;
  font-size: 14px;
}
.topo-left > .item .status {
  display: inline-block;
  background-color: #00C46E;
  font-size: 16px;
  border-radius: 4px;
  padding: 5px 25px;
  margin-bottom: 5px;
  color: #fff;
}
.topo-left > .item .status > span {
  display: inline-block;
  font-size: 14px;
}
.topo-left > .item .value {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 32px;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 100px;
  font-style: italic;
}
.topo-left > .item .sdn-title > span {
  display: block;
  font-size: 14px;
}
.topo-left > .item .info {
  margin: 0;
  padding: 15px 0;
}
.topo-left > .item .info > div {
  height: 180px;
}
.topo-left > .item .info > div:first-child {
  border-right: 1px solid #001245;
}
.topo-left > .item .info > div:last-child {
  border-left: 1px solid #003471;
}
.topo-left > .item .res {
  margin: 9px 0px;
}
.topo-content {
  padding-left: 415px;
  width: 100%;
  height: 100%;
}
.topo-content > div {
  position: relative;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), inset 13px 6px 27px rgba(255, 255, 255, 0.1);
}
.topo-content .topo-container {
  background-color: transparent;
  border-radius: 4px;
  position: relative;
  height: 100%;
}
.topo-content .topo-container > .topoViewer {
  height: 100%;
  z-index: 900;
  overflow-x: auto;
  overflow-y: hidden;
}
.topo-content .topo-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
}
.topo-content .topoLegend {
  position: absolute;
  z-index: 1000;
  left: 50px;
  top: 20px;
  margin: 0;
  padding: 0;
}
.topo-content .topoLegend li {
  list-style: none;
  padding-top: 15px;
}
.topo-content .topoLegend li .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: middle;
}
.topo-content .topoLegend li.snc .icon {
  background-image: url("../images/snc.png");
}
.topo-content .topoLegend li.router .icon {
  background-image: url("../images/router.png");
}
.topo-content .topoLegend li.fp .icon {
  background-image: url("../images/fp.png");
}
.topo-content .topoLegend .text {
  display: inline-block;
  width: 110px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 2px 15px;
  vertical-align: middle;
  margin-left: 5px;
  height: 25px;
  line-height: 25px;
  color: #fff;
}
.topo-content .divStatus {
  position: absolute;
  z-index: 1000;
  right: 50px;
  top: 20px;
}
.topo-content .divStatus .status {
  width: 160px;
  margin: 15px 0px 15px 10px;
  padding: 0px 8px 0px 8px;
  line-height: 35px;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
}
.topo-content .divStatus .status.commonly {
  background-color: #1C91CB;
}
.topo-content .divStatus .status.fatal {
  background-color: #FF3E3F;
}
.topo-content .divStatus .status.serious {
  background-color: #FF7200;
}
.topo-content .divStatus .status .value {
  float: right;
}
.topo-cell-tooltip {
  margin: 0;
  width: 280px;
  color: #314175;
}
.topo-cell-tooltip > div {
  padding: 10px;
  text-align: left;
}
.topo-cell-tooltip .error {
  color: #ff3e3f;
}
.lightBlue {
  color: #00FED7;
}
.lightGreen {
  color: #1AFE9A;
}
.blue {
  color: #23c9ff;
}
.yellow {
  color: #fae601;
}
